input {
  display: none;
}

.open {
  background-color: black;
  width: 24px;
  height: 10px;
  display: block;
  border-radius: 1px;
  cursor: pointer;
  position: relative;
  top: 8px;
  left: 1470px;

}

.open:before {
  content: "";
  background-color:  black;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: -8px;
  transform: rotate(0deg);
  transition: all 0.3s ease;

}

.open:after {
  content: "";
  background-color: black;
  width: 24px;
  height: 4px;
  display: block;
  border-radius: 2px;
  position: relative;
  top: 4px;
  transform: rotate(0deg);
  transition: all 0.3s ease;
}

.menuOpen {
  width: 24px;
  height: 20px;
  display: block;
  padding: 15px;
  cursor: pointer;
}

.menuOpen:hover .open:before {
  top: -9px;
}

.menuOpen:hover .open:after {
  top: 5px;
}

.menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background:	#1E90FF;
}

.menu label {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background-size: 100%;
  cursor: pointer;
}

.menu .menuContent {
  position: relative;
  top: 50%;
  font-size: 54px;
  text-align: center;
  padding-bottom: 20px;
  margin-top: -170px;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

.menu ul li a {
  display: block;
  color: black;
  text-decoration: none;
  transition: color 0.2s;
  font-family: 'Bowlby One SC', cursive;
  -webkit-text-stroke: 1px black;
  color: white;
  text-transform: uppercase;
  padding: 10px 0;
  font-size: 30px;
}

.menu ul li a:hover {
  color: #A0E5FE;
}

.menu ul li:hover {
  background: white;
}

.menuEffects {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
}

.menuEffects ul {
  transform: translateY(0%);
  transition: all 0.5s;
}

#menuToggle:checked ~ .menuEffects {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s;
}

#menuToggle:checked ~ .menuEffects ul {
  opacity: 1;
}

#menuToggle:checked ~ .menuOpen .open {
  background-color: transparent;
}

#menuToggle:checked ~ .menuOpen .open:before {
  content: "";
  background-color: black;
  transform: rotate(45deg);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:checked ~ .menuOpen .open:after {
  content: "";
  background-color: black;
  transform: rotate(-45deg);
  position: relative;
  top: 0;
  right: 0;
  z-index: 1;
}

#menuToggle:not(:checked) ~ .menuEffects ul {
  transform: translateY(-30%);
}

h1 {
  border-color: black;
  transition: color 3s;
  transition: all 2s ease;
  font-family: 'Bowlby One SC', cursive;
  -webkit-text-stroke: 0.1px black;
  color: white;
  font-size: 78pt;
  margin-bottom: 0px;
  margin-top: 220px

}

h3 {
  font-size: 36px;
  font-family: 'Alatsi', sans-serif;
  -webkit-text-stroke: 0.3px black;
  color: white;


}


body {
  background-image: url(https://freefrontend.com/assets/img/css-animation-examples/CSS-Dot-Menu-Animations.gif);
  background-size: 800px;
  background-repeat: repeat;
}
