body {
  width: 80%;
  margin: auto;
  background: white;
  border-style: solid;

}

p {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
}


h1 {
  font-family: 'Bowlby One SC', cursive;
  -webkit-text-stroke: 0.3px black;
  color: 	#E0FFFF;

}

h2 {
  font-family: 'Alatsi', sans-serif;
  margin-right: 50px;

}

h3 {
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
  font-family: 'Francois One', sans-serif;
}

html {
  background: 	#00BFFF;
  background-image: url(https://media2.giphy.com/media/K7o9FdCoDnwEo/giphy.gif);

}

.mathj {
  font-size: 20px;
}

.CtxtMenu_Attached_0{
  display: none;
}

p.solid {
  border-style: solid;
}
